<!DOCTYPE html>
<html lang="uk">
<head>
  <meta charset="UTF-8">
  <title>Помилка 404 - сторінку не знайдено</title>
  <style>
    body {
      background-color: #f6f6f6;
      font-family: sans-serif;
      text-align: center;
    }

    h1 {
      font-size: 6rem;
      margin-top: 3rem;
      color: #ff4d4d;
    }

    p {
      font-size: 2rem;
      color: #888;
    }

    img {
      max-width: 100%;
      height: auto;
      margin-top: 3rem;
    }

    a {
      color: #ff4d4d;
      text-decoration: none;
    }

    a:hover {
      text-decoration: underline;
    }
  </style>
</head>
<body>
<h1>404</h1>
<p>Ой! Схоже, сторінку, яку ви шукали, не знайдено.</p>
<img src="https://media.giphy.com/media/26tk0lRiX9yS7pOO0/giphy.gif" alt="Кіт, який намагається ловити лазерний промінь">
<p>Не хвилюйтесь, ви завжди можете повернутись на нашу <a href="/">головну сторінку</a>.</p>
</body>
</html>